@import '../../../vars.scss';

.about-me-section{
    background-color: $dark-grey;
    display:flex;
    padding: 150px 15%;
    position:relative;
}
.about-me-content{
    width: 50%;
    display:flex;
    flex-wrap:wrap;
}
.about-me-images{
    width: 50%;
}
.about-me-skills-title{
    color: $light-grey;
    opacity: 0.1;
    letter-spacing: -20px;
    line-height: 234px;
    font-size: 300px;
    font-weight: 900;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translate(85%, -15%);
    margin: 0px;
}

.about-me-fun-header{
    color: $icy-blue;
    text-align: left;
    max-width: 75%;
    width: 100%; 
    margin: 50px 0;
}
.about-me-fun-paragraph{
    max-width:75%;
    text-align: left;
    width: 100%; 
    margin: 0 0 100px; 
}