@import '../../../vars.scss';

.game-selector{
    margin: $sp-24; 
    display: flex; 
    gap: $sp-20;
    flex-wrap: wrap;
    justify-content: start;
}

.game-list-title{
    width: 100%;
    text-align: center;
}

.game{
    background-color: $light-grey;
    width: calc(50% - 20px);
    height: 250px;
}

.game-title{
    color: $dark-grey;
}