@import '../../../vars.scss';

//User Information
.user-name{
    color: $dark-red
}
.bungie-id{
    color: $light-red;
}

//Charcter list styles
.character-list{
    list-style: none; 
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px; 
}
.character{
    width: 30%; 
    padding: 5px 10px; 
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex; 
    justify-content: space-between;
}

.character p{
    font-size: $ft-24;
    font-weight: bold;
}
.character-class{
    margin-left: 20%;
    color: $white;
}
.light-level{
    color: $yellow;
}