body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
   url("./Components/Fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: regular;
}
@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url("./Components/Fonts/Barlow/Barlow-Black.ttf") format("truetype");
  font-weight: Black;
}
@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url("./Components/Fonts/Barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: Bold;
}
@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url("./Components/Fonts/Barlow/Barlow-Thin.ttf") format("truetype");
  font-weight: Thin;
}
@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url("./Components/Fonts/Barlow/Barlow-SemiBold.ttf") format("truetype");
  font-weight: SemiBold;
}
@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url("./Components/Fonts/Barlow/Barlow-Medium.ttf") format("truetype");
  font-weight: Medium;
}
@font-face {
  font-family: "Sarpanch";
  src: local("Sarpanch"),
    url("./Components/Fonts/Sarpanch/Sarpanch-Black.ttf") format("truetype");
  font-weight: Black;
}
@font-face {
  font-family: "Sarpanch";
  src: local("Sarpanch"),
    url("./Components/Fonts/Sarpanch/Sarpanch-Bold.ttf") format("truetype");
  font-weight: Bold;
}
@font-face {
  font-family: "Sarpanch";
  src: local("Sarpanch"),
    url("./Components/Fonts/Sarpanch/Sarpanch-ExtraBold.ttf") format("truetype");
  font-weight: ExtraBold;
}
@font-face {
  font-family: "Sarpanch";
  src: local("Sarpanch"),
    url("./Components/Fonts/Sarpanch/Sarpanch-Medium.ttf") format("truetype");
  font-weight: Medium;
}
@font-face {
  font-family: "Sarpanch";
  src: local("Sarpanch"),
    url("./Components/Fonts/Sarpanch/Sarpanch-Regular.ttf") format("truetype");
  font-weight: Regular;
}
@font-face {
  font-family: "Sarpanch";
  src: local("Sarpanch"),
    url("./Components/Fonts/Sarpanch/Sarpanch-SemiBold.ttf") format("truetype");
  font-weight: SemiBold;
}