//Colors
$dark-grey: #232323;
$medium-grey: #c7c7c7;
$light-grey: #efefef;
$black: #000;
$white: #fff;
$red: #A42c2c;
$link-hover-red: #832323;
$link-active-red: #621a1a;
$light-red: #f94343;
$dark-red: #4f1515;
$green: #2ca42c;
$icy-blue: #2ed3ff;
$blue: #2c2ca4;
$yellow: #fce303;
$orange: #fb9234; 

//Spacing
$sp-2: 2px;
$sp-4: 4px;
$sp-8: 8px;
$sp-12: 12px;
$sp-16: 16px;
$sp-20: 20px;
$sp-24: 24px;

//Font Size
$ft-11: 11px;
$ft-12: 12px;
$ft-16: 16px;
$ft-20: 20px; 
$ft-24: 24px;
$ft-36: 36px;
$ft-48: 48px;
$ft-54: 54px;
$ft-68: 68px;
$ft-72: 72px;  
$ft-100: 100px;
$ft-150: 150px;

//Fonts
h1,h2,h3,h4,h5,h6{
    font-family: Sarpanch; 
    font-weight: 600; 
    line-height: 1;
}
h1{
    font-size: $ft-72;
}
h2{
    font-size: $ft-54;
}
h3{
    font-size: $ft-36;
}
h4{
    font-size: $ft-24;
}
p,li,ol,span{
    font-family: Barlow;
}

.container{
    padding: 0 15%; 
    width: 100%; 
    margin: 0 auto; 
}

h1{ 
    font-size: $ft-48; 
}
h2{
    font-size: $ft-36;
}
h3{
    font-size: $ft-24;
}

a{
    text-decoration: none;
}
.code-snippet{
    color: $white;
}
.variable-color{
    color: $yellow; 
}